<h1>What is your favorite color?</h1>
<form method="post" action="colors">
	<input type="text" name="fav_color">
	<br>
	<br>
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="age" value="<%=age%>">
	<input type="hidden" name="food" value="<%=food%>">
	<input type="hidden" name="drink" value="<%=drink%>">
	<input type="hidden" name="fav_num_one" value="<%=fav_num_one%>">
	<input type="hidden" name="fav_num_two" value="<%=fav_num_two%>">
	<input type="hidden" name="fav_num_three" value="<%=fav_num_three%>">
	<input type="submit" value="submit your color">
</form>